.box_coment {
    background-color: #1C171D;
    padding: 32px 32px 6px 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.desc_aval {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "Krona One", sans-serif;
    color: #ffffff;
}
.desc_aval #tittle_aval {
    background-color: #D5224E;
    padding: 6px 32px 6px 32px;
    border-radius: 8px 4px 24px 8px;
    font-size: 16px;
}
.desc_aval #star {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.desc_aval #star img{
    padding-right: 10px;
    width: 30px;
}
.desc_aval #star a {
    color: rgba(255, 255, 255, 0.5);
}
.user_data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "Karla",sans-serif;
    font-size: 14px;
}
.user_data #nome {
    color: #D5224E;
    padding-left: 20px;
}
.user_data #date {
    color: #787B81;
    padding-right: 20px;
}
.comentario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #ffffff;
}
.comentario #titulo {
    font-family: "Krona One", sans-serif;
}
.comentario #texto {
    font-family: "Karla", sans-serif;
}
.comentario #texto img {
    transform: rotate(90);
}
.like-menu {
    color: white;
    font-family: "Krona One", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 32px 10px 32px;

}
.like-menu .likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.spoilerStyle {
        background-color: #0E1015;
        padding: 10px;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #FF003F;
        font-family: "Karla", sans-serif;
}